<div class='body'>
  <div class='container'>
  	<div class='row'>
  	  <div class='main-about col-md-offset-1 col-md-6'>
  	    <h1>welcome to <span class='glyphicon glyphicon-book'></span><strong>Bookers</strong> !!</strong></h1>
      </div>
    </div>
  </div>
</div>
<footer>
  <%= render 'temple/footer/' %>
</footer>